//colors

$gunmetal: #2C303D;
$charcoal: #3A3F50;
//
$charcoal-hover: #EEF0FF14;
$charcoal-active: #EEF0FF3D;
$yinmn_blue: #34517D;
$jordy-blue: #A8C7FA;
$lavender: #EEF0FF;

$black-olive: #353028;
$taupe: #4C463D;
$walnut-brown: #685D4C;
$field-drab: #7E5700;
$xanthous: #F7BD54;
$antique-white: #FFEED9;

$van-dyke: #3D2C2E;
$claret: #7D293A;
$cherry-blossom-pink: #FFB2BC;
$lavender-blush: #FFECED;