* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  zoom: none;
}

html,
body {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}
:root {
  font-size: 62.5%;
}