@use "../abstracts" as *;
@use "../base" as *;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.disable-element{
    display: none;
}

.wrapper {
  display: flex;
  position: relative;
  width: 650px;
  height: 442px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 286.63px;
  padding: 12px 12px 12px 12px;
  position: absolute;
  width: 100%;
  z-index: 99;

  .mode_options {
    display: flex;
    button {
      display: flex;
      align-items: center;
    }
  }
  .funcionalities_options {
    display: flex;
    color: $lavender;
    div {
      width: 36px;
      height: 36px;
      border-radius: 9999px;
      background-color: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: $jordy-blue;
      }
    }
    div:hover {
      background-color: $charcoal;
    }
  }
}

// Timer

.timer_content {
  display: flex;
  flex-direction: column;
  background-color: $gunmetal;
  justify-content: space-around;
  border-radius: 8px;
  width: 100%;
  height: 100%;

  .body_wrapper {
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .timer {
        margin-left: auto;
        margin-right: auto;

        input {
          background-color: inherit;
          font-size: 45px;
          font-family: Arial, sans-serif;
          color: $lavender;
          border: none;
          border-bottom: 1px solid $charcoal;
          width: 294px;
          height: 60px;
          text-align: center;
        }
        input::placeholder {
          color: $lavender;
          font-family: Arial, sans-serif;
        }
      }
      .increase_time {
        display: flex;
        gap: 4px;
        padding: 24px 14px;
      }
    }
  }

  .start {
    margin: 0px 6px 12px 12px;
  }
  .working {
    display: none;
    margin: 0px 6px 12px 12px;
  }
}

.timer_content_working {
  display: flex;
  flex-direction: column;
  background-color: $gunmetal;
  justify-content: center;
  border-radius: 8px;
  padding: 12px 0px 0px 0px;
  width: 100%;
  height: 100%;

  .body_wrapper {
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    .time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .timer {
        margin-left: auto;
        margin-right: auto;

        input {
          background-color: inherit;
          font-size: 45px;
          font-family: Arial, sans-serif;
          color: $lavender;
          border: none;
          width: 294px;
          text-align: center;
        }
        input::placeholder {
          color: $lavender;
          font-family: Arial, sans-serif;
        }
      }
      .increase_time {
        display: none;
        gap: 4px;
        padding: 24px 14px;
      }
    }
  }

  .start {
    display: none;
    margin: 0px 6px 12px 12px;
  }
  .working {
    display: flex;
    margin: 0px 6px 12px 12px;
  }
}

.timer_content_paused {
  display: flex;
  flex-direction: column;
  background-color: $black-olive;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 12px 0px 0px 0px;
  width: 100%;
  height: 100%;

  .body_wrapper {
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;

    .time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .timer {
        // max-width: max-content;
        margin-left: auto;
        margin-right: auto;

        input {
          background-color: inherit;
          font-size: 45px;
          font-family: Arial, sans-serif;
          color: $antique-white;
          border: none;
          border-bottom: 1px solid $walnut-brown;
          width: 294px;
          text-align: center;
        }
        input::placeholder {
          color: $antique-white;
          font-family: Arial, sans-serif;
        }
      }
      .increase_time {
        display: flex;
        gap: 4px;
        padding: 24px 14px;

        #btn_increase_time_to_5min {
          display: none;
        }
      }
    }
  }
  .start {
    display: none;
    margin: 0px 6px 12px 12px;
  }
  .working {
    display: flex;
    margin: 0px 6px 12px 12px;
  }
}

.timer_content_finished {
  display: flex;
  flex-direction: column;
  background-color: $van-dyke;
  justify-content: center;
  border-radius: 8px;
  padding: 12px 0px 0px 0px;
  width: 100%;
  height: 100%;

  .body_wrapper {
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;

    .time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .timer {
        // max-width: max-content;
        margin-left: auto;
        margin-right: auto;

        input {
          background-color: inherit;
          font-size: 45px;
          font-family: Arial, sans-serif;
          color: $lavender-blush;
          border: none;
          width: 294px;
          text-align: center;
        }
        input::placeholder {
          color: $lavender-blush;
          font-family: Arial, sans-serif;
        }
      }
      .increase_time {
        display: none;
        gap: 4px;
        padding: 24px 14px;

        #btn_increase_time_to_5min {
          display: none;
        }
      }
    }
  }
  .start {
    display: none;
    margin: 0px 6px 12px 12px;
  }
  .working {
    display: flex;
    margin: 0px 6px 12px 12px;
  }
}

//Stopwatch

.stopwatch_content {
    // display: flex;
    flex-direction: column;
    background-color: $gunmetal;
    justify-content: center;
    border-radius: 8px;
    padding: 12px 0px 0px 0px;
    position: absolute;
    width: 100%;
    height: 100%;

  .body_wrapper {
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    .time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #stopwatch {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: inherit;
        font-size: 45px;
        font-family: Arial, sans-serif;
        color: $lavender;
        text-align: center;
      }
    }
  }

  .start {
    margin: 0px 6px 12px 12px;
  }

  .working {
    display: none;
    margin: 0px 6px 12px 12px;
  }
}

.stopwatch_content_working {
//   display: flex;
  flex-direction: column;
  background-color: $gunmetal;
  justify-content: center;
  border-radius: 8px;
  padding: 12px 0px 0px 0px;
  width: 100%;
  height: 100%;
  position: absolute;

  .body_wrapper {
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    .time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #stopwatch {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: inherit;
        font-size: 45px;
        font-family: Arial, sans-serif;
        color: $lavender;
        text-align: center;
      }
    }
  }

  .start {
    display: none;
    margin: 0px 6px 12px 12px;
  }
  .working {
    display: flex;
    margin: 0px 6px 12px 12px;
  }
}

.stopwatch_content_paused {
//   display: flex;
    flex-direction: column;
    background-color: $black-olive;
    justify-content: center;
    border-radius: 8px;
    padding: 12px 0px 0px 0px;
    position: absolute;
    width: 100%;
    height: 100%;

  .body_wrapper {
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    .time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #stopwatch {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: inherit;
        font-size: 45px;
        font-family: Arial, sans-serif;
        color: $antique-white;
        text-align: center;
      }
    }
  }

  .start {
    display: none;
    margin: 0px 6px 12px 12px;
  }
  .working {
    display: flex;
    margin: 0px 6px 12px 12px;
  }
}
