@use "../abstracts" as *;
@use "../base" as *;

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.timer_content{
    display: flex;
    flex-direction: column;
    background-color: $gunmetal;
    width: 650.4px;
    height: 428px;
    justify-content: center;
    border-radius: 8px;

    .header_wrapper{
        display: flex;
        justify-content: space-between;
        gap: 286.63px;
        padding: 12px;
        .mode_options{
            display: flex;
            button{
                display: flex;
                align-items: center;
                i{
                    color: $jordy-blue;
                }

            }
        }
        .funcionalities_options{
            display: flex;
            color: $lavender;
            div{
                width: 36px;
                height: 36px;
                border-radius: 9999px;
                background-color: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    color: $jordy-blue;
                }
            }
            div:hover{
                background-color: $charcoal;
            }
        }
    }

    .body_wrapper{
        padding-top: 12px;
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        .time{
            width: 300px;
            height: 312px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .timer{
                max-width: max-content;
                margin-left: auto;
                margin-right: auto;
                
                input{
                    background-color: inherit;
                    font-size: 45px;
                    font-family: Arial, sans-serif;
                    color: $lavender;
                    border: none;
                    border-bottom: 1px solid $charcoal;
                    width: 294px;
                    height: 60px;
                    text-align: center;
                }
                input::placeholder{
                    color: $lavender;
                    font-family: Arial, sans-serif;
                }
            }
            .increase_time{
                display: flex;
                gap: 4px;
                padding: 24px 14px;
            }
        }
    }

    .start{
        margin: 0px 6px 12px 12px;
    }
}