@use "../abstracts" as *;
@use "../base" as *;

//Starting styles of the buttons
.btn {
  padding: 8px 12px;
  border: none;
  width: 126.183;
  height: 36px;
  border-radius: 9999px;
  display: flex;
  gap: 0.3rem;
  background-color: $gunmetal;
  color: $lavender;
  i {
    color: $jordy-blue;
  }
}

.btn_background {
  background-color: $yinmn_blue;
  color: lavender;

  i {
    color: $lavender;
  }
}

.btn_timer {
  padding: 8px 12px;
  display: flex;
  gap: 0.3rem;
}

.btn_stopwatch {
  padding: 8px 12px;
  display: flex;
  gap: 0.3rem;
}

.btn_sound {
    width: 36px;
    height: 36px;
    border-radius: 9999px;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        color: $jordy-blue;
  }
}

.btn_expand {
    width: 36px;
    height: 36px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
    color: $jordy-blue;
  }
}

.btn_increase_time_to {
    background-color: $charcoal;
    padding: 8px 12px;
    color: $lavender;
  border: none;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 500;
  font-family: Arial, sans-serif;
}

.btn_start {
  background-color: $jordy-blue;
  border: none;
  border-radius: 9999px;
  width: 632.4px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    color: $charcoal;
  }
}

.btn_restart {
  background-color: $charcoal;
  width: 310.2px;
  height: 44px;
  margin: 0px 12px 0px 0px;
  border: none;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  i {
    color: $lavender;
  }
}

.btn_stop {
  background-color: $charcoal;
  width: 310.2px;
  height: 44px;
  margin: 0px 6px 0px 12px;
  border: none;
  border-radius: 9999px;
  color: $lavender;
  justify-content: center;
  align-items: center;
  i {
    color: $lavender;
  }
}

// Button styles while working
.working.btn_stop {
  background-color: $charcoal;
  color: $lavender;
}
.working.btn_restart {
  background-color: $charcoal;
  color: $lavender;
}

.working.btn_timer {
  padding: 8px 12px;
  display: flex;
  gap: 0.3rem;
}

.working.btn_stopwatch {
  padding: 8px 12px;
  display: flex;
  gap: 0.3rem;
}
//Button styles if they're paused

.paused.btn {
  background-color: $black-olive;
  color: $antique-white;
  i {
    color: $xanthous;
  }
}

.paused.btn_background {
  background-color: $field-drab;
  color: $antique-white;

  i {
    color: $antique-white;
  }
}

.paused.btn_increase_time_to {
  background-color: $taupe;
  color: $antique-white;
}

.paused.btn_stop {
  background-color: $field-drab;
  i {
    color: $lavender;
  }
}

.paused.btn_restart {
  background-color: $field-drab;
  i {
    color: $lavender;
  }
}

//Button styles when they reach the end
.finished.btn_stop {
  display: none;
}

.finished.btn_restart {
  background-color: $claret;
  color: $lavender-blush;
  width: 100%;
}

