@use "../abstracts" as *;
@use "../base" as *;

.btn {
  padding: 8px 12px;
  border: none;
  width: 126.183;
  height: 36px;
  border-radius: 9999px;
  display: flex;
  gap: 0.3rem;
  background-color: $gunmetal;
  
  i {
    color: $jordy-blue;
  }
}

.btn_background {
  background-color: $yinmn_blue;
  color: lavender;

  i{
    color: $lavender;
  }
}

.btn_mode_options_timer {
  color: $lavender;
}

.btn_mode_options_stopwatch {
  color: $lavender;
}

.btn_start {
  background-color: $jordy-blue;
  // padding: 0px 100px;
  border: none;
  border-radius: 9999px;
  width: 632.4px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
//   z-index: 10;
  i{
    color: $charcoal;
  }
}

.btn_stop {
  background-color: $charcoal;
  width: 310.2px;
  height: 44px;
  margin: 0px 6px 0px 12px;
  border: none;
  border-radius: 9999px;
  color: $lavender;
  justify-content: center;
  align-items: center;
}

.btn_restart {
  background-color: $charcoal;
  width: 310.2px;
  height: 44px;
  margin: 0px 12px 0px 0px;
  border: none;
  border-radius: 9999px;
  color: $lavender;
  justify-content: center;
  align-items: center;
  .btn_restart:hover {
    background: $charcoal-hover;
  }
  .btn_restart:active {
    background: $charcoal-active;
  }
}

.timer_content {
  .btn_increase_time_to {
    background-color: $charcoal;
    padding: 8px 12px;
    color: $lavender;
    border: none;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, sans-serif;
  }
}

.timer_content_working {
  .btn_mode_options_timer {
    background-color: $yinmn_blue;
    color: $lavender;
    padding: 8px 12px;
    border: none;
    width: 126.183;
    height: 36px;
    border-radius: 9999px;
    display: flex;
    gap: 0.3rem;
  }

  .btn_mode_options_stopwatch {
    background-color: inherit;
    color: $lavender;
    padding: 8px 12px;
    border: none;
    width: 126.183;
    height: 36px;
    border-radius: 9999px;
    display: flex;
    gap: 0.3rem;

    i {
      color: $jordy-blue;
    }
  }

  .btn_increase_time_to {
    background-color: $taupe;
    padding: 8px 12px;
    color: $antique-white;
    border: none;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, sans-serif;
  }

  .btn_stop {
    background-color: $charcoal;
  }

  .btn_restart {
    background-color: $charcoal;
  }
}

.timer_content_paused {
.btn_mode_options_timer {
    background-color: $field-drab;
    color: $antique-white;
    padding: 8px 12px;
    border: none;
    width: 126.183;
    height: 36px;
    border-radius: 9999px;
    display: flex;
    gap: 0.3rem; 
  }

  .btn_mode_options_stopwatch {
    background-color: inherit;
    color: $antique-white;
    padding: 8px 12px;
    border: none;
    width: 126.183;
    height: 36px;
    border-radius: 9999px;
    display: flex;
    gap: 0.3rem;

    i {
      color: $xanthous;
    }
  }

  .btn_increase_time_to {
    background-color: $taupe;
    padding: 8px 12px;
    color: $antique-white;
    border: none;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, sans-serif;
  }

  .btn_stop {
    background-color: $field-drab;
    i{
        color: $antique-white;
    }
  }

  .btn_restart {
    background-color: $field-drab;
    i{
        color: $antique-white;
    }
  }
}

.timer_content_finished {
  .btn_mode_options_timer {
    background-color: $claret;
    color: $lavender-blush;
    padding: 8px 12px;
    border: none;
    width: 126.183;
    height: 36px;
    border-radius: 9999px;
    display: flex;
    gap: 0.3rem;

    i {
      color: $cherry-blossom-pink;
    }
  }

  .btn_mode_options_stopwatch {
    background-color: inherit;
    color: $cherry-blossom-pink;
    padding: 8px 12px;
    border: none;
    width: 126.183;
    height: 36px;
    border-radius: 9999px;
    display: flex;
    gap: 0.3rem;

    i {
      color: $cherry-blossom-pink;
    }
  }

  .btn_stop {
    display: none;
  }

  .btn_restart {
    background-color: $claret;
    color: $lavender-blush;
    width: 100%;
  }
}

.btn_increase_time_to {
  // background-color: $charcoal;
  padding: 8px 12px;
  color: $lavender;
  border: none;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 500;
  font-family: Arial, sans-serif;
}

// stopwatch

.stopwatch_content {
}

.stopwatch_content_working {
  .btn_stop {
    background-color: $charcoal;

    i{
        color: $lavender;
    }
  }

  .btn_restart {
    background-color: $charcoal;

    i{
        color: $lavender;
    }
  }
}

.stopwatch_content_paused {
  .btn_stop {
    background-color: $field-drab;

    i{
        color: $lavender;
    }
  }

  .btn_restart {
    background-color: $field-drab;

    i{
        color: $lavender;
    }
  }
}
